{{tiny/ara-logtitle  title="Sign Up" switch="Log In" text="Already have an Aravice account " link="feature.login"}}
<div class="login-block">
	<div class="col-md-5 col-sm-12 center-block">
	    <div class="login bottom">
	        <form id="main-login-form" name="login-form" method="post" action="sendemail.php">
	           	<div class="form-group">
	                <input type="email" name="email" class="form-control" required="required" placeholder="Email..">
	            </div>
	             <div class="form-group">
	                <input type="password" name="name" class="form-control" required="required" placeholder="Password..">
	            </div>
	            <input type="checkbox" checked="checked"> Remember me                        
	            <div class="form-group">
	                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
	            </div>
	        </form>
	    </div>
	    <div class="vr">&nbsp;</div>
	</div>

	<div class="col-md-5 col-sm-12 center-block">
    <div class="contact-form bottom">
        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
           	<div class="form-group">
               <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
            </div>
             <div class="form-group">
               <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div> 
        </form>
    </div>
    </div>
</div>
{{yield}}
