<div class="sidebar-item categories">
    <h3>Project Categories</h3>
    <ul class="nav navbar-stacked">
        <li><a href="#">Branded<span class="pull-right">(1)</span></a></li>
        <li class="active"><a href="#">Design<span class="pull-right">(8)</span></a></li>
        <li><a href="#">Folio<span class="pull-right">(4)</span></a></li>
        <li><a href="#">Logos<span class="pull-right">(9)</span></a></li>
        <li><a href="#">Mobile<span class="pull-right">(3)</span></a></li>
        <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
        <li><a href="#">Php<span class="pull-right">(2)</span></a></li>
        <li><a href="#">Wordpress<span class="pull-right">(8)</span></a></li>
    </ul>
</div>
{{yield}}
