<div class="col-sm-3 col-xs-6">
    <div class="team-single-wrapper">
        <div class="team-single">
            <div class="person-thumb">
                <img src="/images/items/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="social-profile">
                <ul class="nav nav-pills">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="person-info">
            <h2>John Doe</h2>
            <p>CEO &amp; Developer</p>
        </div>
    </div>
</div>
{{yield}}
