<div class="portfolio-wrapper">
    <div class="portfolio-single">
        <div class="portfolio-thumb">
            {{#if onsale}}
            <div class="box">
                <div class="ribbon"><span>On Sale</span></div>
            </div>
            {{/if}}
            <img src="{{img}}"class="img-responsive" alt="">
        </div>
        <div class="portfolio-view">
            <ul class="nav nav-pills">
                <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                <li>{{#link-to 'feature.products' id}}<i class="fa fa-eye"></i>{{/link-to}}</li>
            </ul>
        </div>
    </div>
    <div class="portfolio-info ">
        <h2>{{title}}</h2>
    </div>
</div>
{{yield}}
