<div class="media">
    <div class="pull-left">
        <a href="#"><img src="/images/items/heart.png" alt=""></a>
    </div>
    <div class="media-body">
        <h4>{{#link-to link}}{{name}}{{/link-to}}</h4>
    </div>
</div>
{{yield}}
